.settings-container {
  padding: 20px;
  text-align: center;
}

.settings-container input,
.settings-container select {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 200px; /* Единая ширина для всех полей */
}

.settings-container button {
  padding: 5px 10px;
  margin: 5px;
}